@using tulsa_dnug_website.core.Models
@using tulsa_dnug_website.infrastructure.Services

@inject MeetingInfoService MService
<h3 class="meeting-info-title">Meeting Location</h3>
<div class="meeting-info-body">
    <span>@details.Address</span> <br />
    <span>@details.City, @details.State @details.Zip</span> <br />
    <span>@details.Building</span>
</div>
<br />
<h3 class="meeting-info-title">Meeting Agenda</h3>
<div class="meeting-agenda">
    <ul>
        @foreach (var item in details.Agenda)
        {
            <li>@string.Format("{0:h':'mm' 'tt}", item.StartTime) - @item.Description</li>
        }
    </ul>
</div>
<br />
<div class="after-meeting">
    <span>@details.AfterMeetingMeetup</span>
</div>

    @code {
        MeetingDetails details = new MeetingDetails();
        protected override async Task OnInitializedAsync()
        {
            details = await MService.GetMeetingInfo();
            details.Agenda = await MService.GetAgenda();
            details.AfterMeetingMeetup = (await MService.GetExtraInformation()).Text;
        }
    }
